/*-----------------------------------*\
  $MENU
\*-----------------------------------*/

.menu{
  display: grid;
  grid-template-columns: repeat( 12, 1fr);
  grid-template-rows: repeat( 1, 1fr);
  grid-gap: 10px;
  min-height: 80px;
  max-height: 120px;
  padding: 15px;
  text-align: center;

  .menuItem{
    display: grid;
    align-content: center;
    a{
      color: #333;
    }
  }
  .menuItem:hover{
    background-color: #aaaa;
    a{
      color: #fff
    }
  }

}