
/*-----------------------------------*\
  COMMON ELEMENTS
\*-----------------------------------*/




/*-----------------------------------*\
  $baseApp
\*-----------------------------------*/

.App {
  text-align: center;
}
.page{
  padding: 15px;
}

h1, h2, h3, h4, h5, h6{
  font-family: 'Lobster', cursive;
  color: gray;
}

a{
  text-decoration: none;
  color: unset;
}
a:hover{
  color: unset;
}

.mainError{
  display: grid;
  grid-template-columns: 1fr;
  align-content: center;
  min-height: 300px;
}
