@import url('https://fonts.googleapis.com/css?family=Lobster|Oleo+Script:400,700|Roboto+Slab:100,400');
/*-----------------------------------*\
  $Colors
\*-----------------------------------*/

$primary: #ddd;
$secundary: #333;

/*-----------------------------------*\
  $Fonts
\*-----------------------------------*/

.mainFont{
    font-family: 'Roboto Slab', serif;
}

.menuFont{
    font-family: 'Oleo Script', cursive;
}

.hightlightFont{
    font-family: 'Lobster', cursive;
}



