@import url('https://fonts.googleapis.com/css?family=Roboto:100,400|Lobster|Oleo+Script:400,700');
/*-----------------------------------*\
COLORS
\*-----------------------------------*/
$primary: #ddd;
$secundary: #333;

/*-----------------------------------*\
FONTS
\*-----------------------------------*/
.mainFont{
    font-family: 'Roboto', serif;
}

.menuFont{
    font-family: 'Oleo Script', cursive;
}

.hightlightFont{
    font-family: 'Lobster', cursive;
}