body {
    margin: 0;
    padding: 0;
}
.mainBody{
    width: 1280px;
    margin: 0 auto;
}

@import "variables";
@import "index";

/*-----------------------------------*
XTRAS
*-----------------------------------*/
@import "animate";

/*-----------------------------------*
SITE
*-----------------------------------*/
@import "index";

/*-----------------------------------*
MENU
*-----------------------------------*/
@import "menu";

/*-----------------------------------*
Internal Site
*-----------------------------------*/
@import "site";

/*-----------------------------------*
FOOTER
*-----------------------------------*/
@import "footer";

@import "media/mobile";

@import '~antd/dist/antd.css';


